name: Pylint

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v2
    - name: Set up Python 3.9
      uses: actions/setup-python@v2
      with:
        python-version: 3.9
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pylint
        pip install -r requirements.txt
    - name: Prepare auth.py file
      run: |
        echo '"""auth module"""' >> auth.py
        echo "API_KEY=1" >> auth.py
        echo "API_SECRET_KEY=1" >> auth.py
        echo "ACCESS_TOKEN=1" >> auth.py
        echo "ACCESS_TOKEN_SECRET=1" >> auth.py
    - name: Analysing the code with pylint
      run: |
        pylint --max-line-length=120 --disable=C0103,W1514,R1732,R0913 `ls -R|grep .py$|xargs`
